.hhead {
  padding: 5% 10% 0 10%;
}

.hhead p {
  font-family: "Montserrat";
  font-style: italic;
  font-size: 40px;
  font-weight: 200;
}

.hhead h1 {
  font-size: 65px;
  font-style: italic;
  line-height: 115%;
  font-weight: 800;
  font-family: "Poppins";
}
.hcard {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  overflow: hidden;
  background: white;
  transform: skew(355deg, 0deg);
  padding: 2% 4%;
  filter: drop-shadow(0px 0px 10px #00000035);
  border-radius: 2rem;
}

.hcontainer {
  background: var(--var-color);
  padding: 3% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.rcr h1 {
  font-size: 30px;
}

.rcr p {
  font-family: "Poppins";
  width: 100%;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  margin: 8% 0 4% 0rem;
}
.lcr img {
  border-radius: 2rem;
  width: 100%;
}
.rcr span {
  font-weight: 600;
  color: darkgray;
  font-size: 18px;
}

.pseud {
  width: 100%;
  position: absolute;
  height: 90%;
  top: -40%;
  left: 0;
  z-index: 1;
}

.lcr,
.rcr {
  z-index: 3;
  position: relative;
}
.lcr {
  width: 100%;
  overflow: hidden;
  filter: drop-shadow(0px 0px 10px #00000045);
}

.rcr {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.rcr h1 {
  width: 100%;
  color: white;
  padding: 5% 2% 2%;
  filter: drop-shadow(0px 0px 10px #000000);
}
.lcr {
  position: absolute;
  width: 41%;
  transform: translate(110%, 2%);
}
.rcr h1 span {
  font-size: 40px;
  font-weight: 800;
  color: white;
  line-height: 80%;
}

.hcard:hover {
  scale: 1.01;
  box-shadow: 0.25em 0.5em 0 0.25em black;
}
.hcard:active {
  box-shadow: 0.25em 0.5em 0 0.5em transparent;
  scale: 1;
}

.hcontainer a {
  width: 49%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
div#hc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p.more {
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  padding: 2% 0;
}

#hc {
  padding: 2em 0 2em;
}
.hcard {
  cursor: pointer;
  transition: all ease 0.4s;
}
