@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Romanesco&display=swap");

.navbar {
  display: flex;
  align-items: center;
  padding: 1.125% 10%;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  border: 1px solid black;
  border-radius: 0rem 0rem 50rem 50rem;
  border-top: none;
}

ul.rl,
ul.ll {
  display: flex;
  list-style: none;
  gap: 2rem;
}

h1.cl {
  font-size: 40px;
  cursor: pointer;
  margin: 0 3rem;
  transition: all ease 0.25s;
}

.Hero {
  display: flex;
  justify-content: center;
}
.navbar li {
  font-size: 20px;
  color: #6e6e73;
  font-weight: 400;
  cursor: pointer;
  transition: all ease 0.25s;
  font-family: "montserrat";
}

.navbar li:hover {
  transform: scale(1.05);
  font-weight: 600;
}

.bg {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
  width: 100%;
}

#container {
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}
.wrapper {
  width: 100%;
  position: relative;
}
.Hero {
  flex-direction: column;
}

.Hero h1 {
  font-size: 115px;
  line-height: 103%;
}

.Hero h2 {
  font-size: 35px;
}

.Hero {
  text-align: center;
  padding: 10% 0;
}
.try h1 {
  color: transparent;
  font-size: 300px;
  line-height: 75%;
  letter-spacing: -0.05em;
  background: url(./assets/falcons.gif);
  background-clip: text;
  -webkit-background-clip: text;
  width: 100%;
  position: relative;
  z-index: 3;
}

.try h3 {
  font-size: 80px;
  color: #6e6e73;
}

.try {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-left: 8%;
  margin-top: 2%;
}

.try h1 span {
  letter-spacing: -0.125em;
}
.herocontent {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  position: relative;
  gap: 1rem;
}

.herocontent h5 {
  font-size: 35px;
  font-weight: 300;
  color: black;
  letter-spacing: 0.5em;
  margin-left: 1.5%;
  margin-top: 1.5%;
}
.try i {
  font-weight: 200;
  font-family: "Montserrat";
}
.herocontent hr {
  width: 26%;
  height: 3px;
  background: darkgrey;
  border: none;
  align-self: center;
  bottom: -20%;
  right: 20%;
  position: absolute;
}
.butons {
  display: flex;
  gap: 1em;
  margin-top: 1.5%;
  width: 100%;
}

.butons button {
  font-size: 25px;
  padding: 1.5% 3%;
  border-radius: 60rem;
  cursor: pointer;
  font-weight: 500;
  transition: all ease-in-out 0.25s;
}
.b2 {
  color: black;
  background-color: white;
  border: 2px solid black;
}
.b1 {
  color: white;
  background-color: black;
}

.butons button:hover {
  filter: invert(1);
  border: 2px solid;
}

.butons span {
  font-size: 30px;
}

p.scroll {
  position: absolute;
  bottom: 0;
  right: 10%;
  font-size: 25px;
  font-weight: 200;
  font-family: "Montserrat";
}
